@model MyPortfolioDotNet.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderShow" class="control-label"></label>
                <input type="number" asp-for="OrderShow" class="form-control" />
                <span asp-validation-for="OrderShow" class="text-danger"></span>
            </div>

            <!-- Checkbox per selezionare le tecnologie -->
            <div class="form-group">
                <label class="control-label">Select Technologies</label>
                @foreach (var technology in ViewBag.AvailableTechnologies)
                {
                    <div>
                        <input type="checkbox" name="SelectedTechnologyIds" value="@technology.Id" />
                        <label>@technology.Name</label>
                    </div>
                }
            </div>



            <div class="form-group">
                <label asp-for="UploadFiles" class="control-label"></label>
                <input type="file" multiple asp-for="UploadFiles" class="form-control" />
                <span asp-validation-for="UploadFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
