@model MyPortfolioDotNet.Models.Project

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="SelectedTechnologies">Seleziona le tecnologie:</label>

                @if (ViewBag.AvailableTechnologies != null)
                {
                    foreach (var technology in ViewBag.AvailableTechnologies)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"
                                   id="@("Technology_" + technology.Id)"
                                   name="SelectedTechnologyIds"
                                   value="@technology.Id">
                            <label class="form-check-label" for="@("Technology_" + technology.Id)">
                                @technology.Name
                            </label>
                        </div>
                    }
                }
                else
                {
                    <p>No technologies available</p>
                }
            </div>

            <div class="form-group">            
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadFiles" class="control-label"></label>
                <input type="file" multiple asp-for="UploadFiles" class="form-control" />
                <span asp-validation-for="UploadFiles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
